body{
    background-color: antiquewhite;
    box-sizing: border-box;
    font-size: 40px;
}

.signin_logo > img{
    width: auto;
}

.signin{
    background: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signin_container{
    height: auto;
    width: auto;
    box-shadow: white;
    border: slategray;
    border-radius: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
}
.signin_container > form > input {
    height: auto;
    width: auto;
    border: slategrey;
    background-color: white;
    border-radius: 0%;
    margin-bottom: auto;

}

